@() @main("Welcome to Play") {

    <!-- Start Header -->

    <header id="header" class="headroom page-topbar">
        <div class="navbar-fixed">
            <nav class="navbar-fixed box-shadow-none">
                <div class="nav-wrapper">
                    <a href="#home" class="brand-logo vertical-align-center">
                        <img src="@routes.Assets.at("images/logo.png")" class="vertical-middle">
                        <span>MoremiWay</span>

                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li>
                            <a href="#demo">Causes</a>
                        </li>
                        <li>
                            <a href="#demo">Members</a>
                        </li>
                        <li>
                            <a href="#features">Store</a>
                        </li>
                        <li>
                            <a href="#elements">About</a>
                        </li>
                        <li>
                            <a href="#purchase">Join</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header -->

    <div id="home" style="padding-left: 0px;" class="scrollspy">
        <div class="grey darken-4">
            <div id="animate-area" class="banner head-banner valign-wrapper">
                <div class="row">
                    <div class="col s12">
                        <div class="white-text center">
                            <h2>MoremiWay</h2>
                            <h5 class="grey-text text-lighten-2">Equality & humanity</h5>
                            <h5 class="grey-text text-lighten-2">Africa is not a color, Africa is a state of mind</h5>
                            <p class="grey-text text-lighten-2">You are not just committing to a cause, you are being recognized for your philantropy</p>
                            <a href="" target="_blanck"
                                class="btn waves-effect waves-light gradient-45deg-red-pink mt-2 btn-large z-depth-5">Join us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Choose your Layout -->
        <div id="demo" class="scrollspy">
            <div class="row padding-2">
                <div class="col s12 center mb-7">
                    <h4 class="mt-7 font-weight-900">Charity and Gift</h4>
                    <p class="mb-3">Be part of our global initiative to impact Africa
                        <br> We are everyone stakeholders in the Africa project 
                    </p>
                </div>

                <div class="item product col s12 m4 s4 padding-3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light teal accent-4">$189</a>
                            <a href="#">
                                <img src="@routes.Assets.at("images/1.png")" alt="item-img">
                            </a>
                        </div>
                        <ul class="card-action-buttons">
                            <li>
                                <a class="btn-floating waves-effect waves-light cyan">
                                    <i class="material-icons">add_shopping_cart</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light red accent-2">
                                    <i class="material-icons">favorite</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light deep-orange accent-2">
                                    <i class="material-icons activator">info_outline</i>
                                </a>
                            </li>
                        </ul>
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <p class="card-title grey-text text-darken-4">
                                        <a href="#" class="grey-text text-darken-4">T-Shirt - African Showcase</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                <i class="material-icons right">close</i> T-Shirt - Africa Showcase</span>
                            <p>Here is some more information about this item that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>


                <div class="item product col s12 m4 s4 padding-3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light teal accent-4">$189</a>
                            <a href="#">
                                <img src="@routes.Assets.at("images/2.png")" alt="item-img">
                            </a>
                        </div>
                        <ul class="card-action-buttons">
                            <li>
                                <a class="btn-floating waves-effect waves-light cyan">
                                    <i class="material-icons">add_shopping_cart</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light red accent-2">
                                    <i class="material-icons">favorite</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light deep-orange accent-2">
                                    <i class="material-icons activator">info_outline</i>
                                </a>
                            </li>
                        </ul>
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <p class="card-title grey-text text-darken-4">
                                        <a href="#" class="grey-text text-darken-4">Baseball Cap - Africa showcase</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                <i class="material-icons right">close</i> BaseBall Cap - Africa Showcase</span>
                            <p>Here is some more information about this item that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>

                <div class="item product col s12 m4 s4 padding-3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light teal accent-4">$189</a>
                            <a href="#">
                                <img src="@routes.Assets.at("images/3.png")" alt="item-img">
                            </a>
                        </div>
                        <ul class="card-action-buttons">
                            <li>
                                <a class="btn-floating waves-effect waves-light cyan">
                                    <i class="material-icons">add_shopping_cart</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light red accent-2">
                                    <i class="material-icons">favorite</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light deep-orange accent-2">
                                    <i class="material-icons activator">info_outline</i>
                                </a>
                            </li>
                        </ul>
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <p class="card-title grey-text text-darken-4">
                                        <a href="#" class="grey-text text-darken-4">Africa Wax print Shirt</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                <i class="material-icons right">close</i> Africa Wax print Shirt</span>
                            <p>Here is some more information about this item that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>



                <div class="item product col s12 m4 s4 padding-3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light teal accent-4">$189</a>
                            <a href="#">
                                <img src="@routes.Assets.at("images/4.png")" alt="item-img">
                            </a>
                        </div>
                        <ul class="card-action-buttons">
                            <li>
                                <a class="btn-floating waves-effect waves-light cyan">
                                    <i class="material-icons">add_shopping_cart</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light red accent-2">
                                    <i class="material-icons">favorite</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light deep-orange accent-2">
                                    <i class="material-icons activator">info_outline</i>
                                </a>
                            </li>
                        </ul>
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <p class="card-title grey-text text-darken-4">
                                        <a href="#" class="grey-text text-darken-4">Shirt - Africa Showcase</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                <i class="material-icons right">close</i> Shirt - Africa Showcase</span>
                            <p>Here is some more information about this item that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>

                <div class="item product col s12 m4 s4 padding-3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light teal accent-4">$189</a>
                            <a href="#">
                                <img src="@routes.Assets.at("images/5.png")" alt="item-img">
                            </a>
                        </div>
                        <ul class="card-action-buttons">
                            <li>
                                <a class="btn-floating waves-effect waves-light cyan">
                                    <i class="material-icons">add_shopping_cart</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light red accent-2">
                                    <i class="material-icons">favorite</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light deep-orange accent-2">
                                    <i class="material-icons activator">info_outline</i>
                                </a>
                            </li>
                        </ul>
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <p class="card-title grey-text text-darken-4">
                                        <a href="#" class="grey-text text-darken-4">Pendant - Africa showcase</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                <i class="material-icons right">close</i> Bespoke Africa apparel</span>
                            <p>Here is some more information about this item that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>

                <div class="item product col s12 m4 s4 padding-3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light teal accent-4">$189</a>
                            <a href="#">
                                <img src="@routes.Assets.at("images/6.png")" alt="item-img">
                            </a>
                        </div>
                        <ul class="card-action-buttons">
                            <li>
                                <a class="btn-floating waves-effect waves-light cyan">
                                    <i class="material-icons">add_shopping_cart</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light red accent-2">
                                    <i class="material-icons">favorite</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light deep-orange accent-2">
                                    <i class="material-icons activator">info_outline</i>
                                </a>
                            </li>
                        </ul>
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <p class="card-title grey-text text-darken-4">
                                        <a href="#" class="grey-text text-darken-4">Heirloom from the Kingdom of Ashanti Africa</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                <i class="material-icons right">close</i> Heirloom from the Kingdom of Nok, Africa</span>
                            <p>Here is some more information about this item that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>



                <div class="col s12 m4 s4 padding-1">
                    <span class="offer vertical-middle">Offer Prize $16</span>
                </div>


            </div>
        </div>
        <!-- Choose your Layout -->

        <!-- Features -->
        <div id="features" class="scrollspy">
            <div class="row mb-0">
                <div class="col s12 center pb-7 grey lighten-3">
                    <h4 class="mt-7 font-weight-900">Charity Events</h4>
                    <p class="mb-3">Check out some of the charity causes we have undertaken</p>
                    <div class="col s12 m4 s4 padding-1">
                        <div class="card gradient-shadow gradient-45deg-amber-amber border-radius-10 min-height-300">
                            <div>
                                <div class="card-content center vertical-align-center">
                                    <h3 class="white-text lighten-4">M</h3>
                                    <h5 class="white-text lighten-4">Trip to the earth of Yorubaland, Nigeria</h5>
                                    <p class="white-text lighten-4">Our perchant for Africa led us to the land of the Yoruba, in south-west Nigeria. We spent a lot of time 
                                        finding out about the Yoruba rich culture moving from one village to another, from one city to another exploring its people, beliefs, heirloom and whatnots.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 s4 padding-1">
                        <div class="card gradient-shadow gradient-45deg-purple-deep-orange border-radius-10 min-height-300">
                            <div class="card-content center vertical-align-center">
                                <i class="material-icons white-text lighten-4">menu</i>
                                <h5 class="white-text lighten-4">Journey to the rugged outback of Congo</h5>
                                <p class="white-text lighten-4"> The Congo is a country in Central Africa. It's adjudged the
                                     most endowed nation in the world laying claim to up to 50% of the world's 
                                     rare metal deposit, but the vestiges of war, ethnic cleansing and political unrest plagues this nation.
                                    We are looking at how to help</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 s4 padding-1">
                        <div class="card gradient-shadow gradient-45deg-light-blue-cyan border-radius-10 min-height-300">
                            <div class="card-content center vertical-align-center">
                                <i class="material-icons white-text lighten-4">content_copy</i>
                                <h5 class="white-text lighten-4">Meeting people at the point of their need</h5>
                                <p class="white-text lighten-4">Here in South Sudan, war has caged the potentiality of the people, we can help.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 s4 padding-1">
                        <div class="card gradient-shadow gradient-45deg-purple-deep-purple border-radius-10 min-height-300">
                            <div class="card-content center vertical-align-center">
                                <i class="material-icons white-text lighten-4">timeline</i>
                                <h5 class="white-text lighten-4">Coaching teenagers on career their choice</h5>
                                <p class="white-text lighten-4">Education is the bedrock of a society, that's why we 
                                    endeavour to train the youth to become self-sufficient</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 s4 padding-1">
                        <div class="card gradient-shadow gradient-45deg-green-teal border-radius-10 min-height-300">
                            <div class="card-content center vertical-align-center">
                                <i class="material-icons white-text lighten-4">settings</i>
                                <h5 class="white-text lighten-4">Distributing clothing to locals in Cameroun</h5>
                                <p class="white-text lighten-4">Education is the bedrock of a society, that's why we 
                                        endeavour to train the youth to become self-sufficient.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 s4 padding-1">
                        <div class="card gradient-shadow gradient-45deg-red-pink border-radius-10 min-height-300">
                            <div class="card-content center vertical-align-center">
                                <i class="material-icons md-icon white-text lighten-4">book</i>
                                <h5 class="white-text lighten-4">Training farmers getting better yield</h5>
                                <p class="white-text lighten-4">Education is the bedrock of a society, that's why we 
                                        endeavour to train the youth to become self-sufficient.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Features End -->

        <!-- parallax -->
        <div class="parallax-container">
            <div class="parallax">
                <img src="@routes.Assets.at("images/parallax.png")">
            </div>
        </div>
        <!-- parallax End -->

        <!-- Awesome Elements -->
        <div id="elements" class="scrollspy">
            <div class="row">
                <div class="col s12 pb-4 mt-7">
                    <h4 class="mb-2 center font-weight-900">Project -- Heart for Africa</h4>
                    <p class="mb-5 center">You don't just donate to a cause,
                        <br> you become a lifetime partner towards the development of Africa.</p>
                    <div class="row padding-10 valign-wrapper">
                        <div class="col s12 m6 l6 right-align">
                            <img src="@routes.Assets.at("images/woman-baby.jpg")" class="mr-10" width="350">
                        </div>
                        <div class="col s12 m6 l6 left">
                            <h5 class="font-weight-900">Pipeborne water project in Angola</h5>
                            <p>The remote village in Angola finally got access to clean and potable water
                                <br> we are happy to be the spearhead of this project.</p>
                        </div>
                    </div>
                    <div class="row padding-10 valign-wrapper">
                        <div class="col s12 m6 l6 right-align">
                            <h5 class="font-weight-900">Provision of clothing and shelter Abeokuta, Nigeria</h5>
                            <p>We provided slippers, sandals, and sneakers to children in a village on the outskirt of Abeokuta in Nigeria
                                <br> Through our network of philantropy around the world, we can do more.</p>
                        </div>
                        <div class="col s12 m6 l6">
                            <img src="@routes.Assets.at("images/kid-walk.jpg")" class="ml-10" width="400">
                        </div>
                    </div>
                    <div class="row padding-10 valign-wrapper">
                        <div class="col s12 m6 l6 right-align">
                            <img src="@routes.Assets.at("images/woman_water.jpg")" class="mr-10" width="400">
                        </div>
                        <div class="col s12 m6 l6 left">
                            <h5 class="font-weight-900"> Construction of borehole in Shugama, Zambia</h5>
                            <p>We sunk 3 boreholes, providing access to water.
                                                                <br> Villagers are happy and effusive in their appreciation.</p>
                        </div>
                    </div>
                    <div class="row padding-10 valign-wrapper">
                        <div class="col s12 m6 l6 right-align">
                            <h5 class="font-weight-900">Distribution of books and T-shirts to students Nigeria</h5>
                            <p>We Distributed books to various schools in Nigeria through MoremiWay foundation
                                <br> We hope to do more in this regard.</p>
                        </div>
                        <div class="col s12 m6 l6">
                            <img src="@routes.Assets.at("images/card4.gif")" class="ml-10" width="400">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Awesome Elements End -->

        <!-- Pricing -->
        <div id="purchase" class="scrollspy">
            <div class="col s12 pb-5 center grey lighten-3">
                <h5 class="pt-5 font-weight-900">We find charitable causes in Africa and we get people behind it</h5>
                <p class="mb-3">A community of helpers around the world</p>
                <!-- <a href="" target="_blank" class="btn waves-effect waves-light gradient-45deg-red-pink z-depth-5 btn-large">PURCHASE NOW</a> &nbsp; &nbsp;
                <a href="" target="_blanck" class="btn waves-effect waves-light gradient-45deg-light-blue-cyan z-depth-5 btn-large">SUPPORT</a> -->
            </div>
        </div>
    </div>
    <!-- Pricing End-->

    <!-- Srat Footer -->
    <footer class="page-footer grey darken-4" style="padding-left: 0px;">
        <div class="footer-copyright pt-1 pb-1">
            <div class="container">
                <span>Copyright ©
                    <script type="text/javascript">document.write(new Date().getFullYear());</script>
                    <a class="grey-text text-lighten-4" href="" target="_blank">MoremiWay</a> All rights reserved 2018</span>
                <span class="right hide-on-small-only"> Design and Developed by
                    <a class="grey-text text-lighten-4" href="" target="_blanck">MoremiWay</a>
                </span>
            </div>
        </div>
    </footer>
    <!-- End Footer -->


    <!-- Scripts -->

    <!-- jQuery Library -->
    <script type="text/javascript" src="@routes.Assets.at("js/jquery-3.2.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/materialize.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/landing.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/headroom.js")"></script>


    <script>
        $(document).ready(function () {
            // Select all links with hashes
            $('a[href*="#"]')
                // Remove links that don't actually link to anything
                .not('[href="#"]')
                .not('[href="#0"]')
                .click(function (event) {
                    // On-page links
                    if (
                        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') &&
                        location.hostname == this.hostname
                    ) {
                        // Figure out element to scroll to
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        // Does a scroll target exist?
                        if (target.length) {
                            // Only prevent default if animation is actually gonna happen
                            event.preventDefault();
                            $('html, body').animate({
                                scrollTop: target.offset().top
                            }, 1000, function () {
                                // Callback after animation
                                // Must change focus!
                                var $target = $(target);
                                $target.focus();
                                if ($target.is(":focus")) { // Checking if the target was focused
                                    return false;
                                } else {
                                    $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                    $target.focus(); // Set focus again
                                };
                            });
                        }
                    }
                });
            // grab an element
            var myElement = document.querySelector("header");
            // construct an instance of Headroom, passing the element
            var headroom = new Headroom(myElement);
            // initialise
            headroom.init();
        });
    </script>

    <!-- Start of Async Drift Code -->
    <script>
        ! function () {
            var t;
            if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
                t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                t.factory = function (e) {
                    return function () {
                        var n;
                        return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                    };
                }, t.methods.forEach(function (e) {
                    t[e] = t.factory(e);
                }), t.load = function (t) {
                    var e, n, o, i;
                    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
                });
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('6ashbsefxhx7');
    </script>
    <!-- End of Async Drift Code -->



    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58d9fa1af7a79649"></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58d9fa1af7a79649"></script> 
}