@* * This template is called from the `index` template. This template * handles the rendering of the page header and body tags. It takes * two arguments, a `String` for the title of the page and an `Html` * object to insert into the body of the page.
*@ @(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>Materialize - Material Design Admin Template</title>
    <!-- Favicons-->
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->

    <!-- Landing Page CSS-->
    <link href="@routes.Assets.at("scss/landing.scss")" type="text/scss" rel="stylesheet" media="screen,projection">
    <link href="@routes.Assets.at("stylesheets/landing-style.css")" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- CORE CSS-->
    <link href="@routes.Assets.at("stylesheets/materialize.css")" type="text/css" rel="stylesheet" media="screen,projection">

    <link href="@routes.Assets.at("stylesheets/style.css")" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="@routes.Assets.at("stylesheets/main.css")" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    
</head>


<body>

        
    @* And here's where we render the `Html` object containing * the page content. *@ @content

    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
</body>

</html>